.footer-card {
    background-color: #0d6efd2e;
}

.footer-logo {
    width: 4rem;
}

.footer-title {
    height: 100%;
}

.footer-p {
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}